:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0 auto;
  display: flex;
  place-items: center;
  max-width: 375px;
  min-height: 100vh;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  max-width: 375px;
}

.navigate {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 0;
}

.navigate svg {
  cursor: pointer;
}

.navigate svg:hover {
  opacity: 0.8;
}

.navigate h1 {
  font-size: 24px;
  font-weight: 900;
  cursor: pointer;
  margin: 0 1rem 0 auto;
  line-height: 36px;
}

.navigate h1:hover {
  opacity: 0.8;
}

.message-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.message-card {
  border: 1px solid #eaeaea;
  border-radius: 8px;
  margin: 0.5rem 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 375px;
  height: 100px;
  overflow: hidden;
}

.message-card img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 8px 0 0 8px;
}

.message-card-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 1rem;
  justify-content: flex-start;
  width: 100%;
}

.message-card-content h1 {
  font-size: 1.2rem;
  font-weight: 700;
  margin: 0;
  text-align: left;
}

.message-card-content p {
  font-size: 0.8rem;
  font-weight: 500;
  margin: 0;
  text-align: left;
}

.message-card:hover {
  box-shadow: 0 0 1px 1px #646cff;
  cursor: pointer;
}

.message-detail-container {
  display: flex;
  flex-direction: column;
  max-width: 375px;
  height: 100vh;
}

.message-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  max-width: 375px;
}

.message-detail img {
  width: 375px;
  object-fit: cover;
  border-radius: 8px 8px 0 0;
}

.message-detail h1 {
  font-size: 32px;
  font-weight: 800;
  margin: 12px 0;
  width: 100%;
  text-align: left;
}

.message-detail p {
  font-size: 16px;
  font-weight: 600;
  margin: 0;
  width: 100%;
  text-align: left;
}

.message-detail h2 {
  font-size: 20px;
  font-weight: 500;
  margin: 16px s0;
  width: 100%;
  text-align: left;
}

.message-detail hr {
  width: 100%;
  height: 2px;
  background-color: black;
  border-radius: 8px;
  border: 0;
}

.comment-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  margin: 0 1rem;
}

.comment {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  margin: 0.2rem 0;
}

button {
  width: 375px;
  border-radius: 8px;
  border: 2px solid #646cff;
  color: #ffffff;
  padding: 1.2rem 6rem;
  font-size: 1rem;
  font-weight: 500;
  font-family: inherit;
  background-image: linear-gradient(180deg, #646cff, #535bf2);
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  opacity: 0.9;
}

button:focus {
  outline: none;
  box-shadow: 0 0 0 2px #646cff;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
